<!-- <header class="app-header">
    <div class="left-section">
      <span class="site-title">{{ pageTitle }}</span>
      <button class="logo">
        <i class="material-icons logo-pig">savings</i>
      </button>
    </div>
    <div class="right-section">
      <button class="notification-button">
        <i class="material-icons">notifications</i>
      </button>
      <button class="profile-button">
        <i class="material-icons">person</i>
      </button>
      <button class="golf-button">
        <i class="material-icons">golf_course</i>
      </button>
    </div>
  </header> -->