<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" opened mode="side" [disableClose]="true">
      <div class="sidenav-header">
        <h2>PiggyPal</h2>
        <button class="logo">
          <i class="material-icons logo-pig">savings</i>
        </button>
      </div>
      <hr>
      <ul class="sidenav-list">
        <li class="nav-item">
          <a routerLink="/notifications" class="sidenav-link">
            <i class="material-icons">notifications</i>
            Notifications
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/profile" class="sidenav-link">
            <i class="material-icons">person</i>
            Profile
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/golf" class="sidenav-link">
            <i class="material-icons">golf_course</i>
            Golf
          </a>
        </li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>