<!-- <ul>
  <li *ngFor="let category of categories$ | async">
    {{ category | json }}
  </li>
</ul> -->
<select>
  <option value="" disabled selected>Select Category</option>
  <option *ngFor="let category of categories$ | async" [value]="category.categoryId">{{ category.categoryName }}</option>
</select>

<div>
  <h2>Transactions</h2>
  <ul>
    <li *ngFor="let transaction of transactions$ | async">
      {{ transaction.transactionDate }} - ${{ transaction.transactionAmount }} - {{ transaction.transactionDescription }} - {{ transaction.categoryId }}
    </li>
  </ul>
</div>